@model Customer

<h2>Ekle Müşteri</h2>

<form asp-action="Ekle" method="post">
    <div class="form-group">
        <label asp-for="CustomerName"></label>
        <input asp-for="CustomerName" class="form-control" />
        <span asp-validation-for="CustomerName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsActive"></label>
        <input asp-for="IsActive" type="checkbox" />
    </div>

    <button type="submit" class="btn btn-primary">Ekle</button>
</form>